html{
    background-color: beige;
}

#titulo{
    font-family: cursive;
    color: green;
}

a{
    font-size: 30px;
}

.TestClass{
    font-family: Verdana;
    color: chocolate;
    width: 70%;
    text-align: center;
}

table, th, td{
    border: 1px salmon solid;
}

table{
    width: 50%;
    margin-bottom: 20px;
}

th{
    height: 40px;
}

td{
    text-align: center;
    padding: 5px;
}

#textoInput{
    width: 200px;
}

button{
    background-color: white;
    color: black;
    border: 2px solid goldenrod;
}

button:hover{
    background-color: goldenrod;
    color: white;
}

#textoParaReemplazar{
    border: solid red;
    text-align: center;
    font-size: large;
}